<% title "Tasklist" %>

<p>
  <strong>Name:</strong>
  <%=h @tasklist.name %>
</p>
<p>
  <strong>Type:</strong>
  <%=h @tasklist.type %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @tasklist.description %>
</p>
<p>
  <strong>User:</strong>
  <%=h @tasklist.user_id %>
</p>

<p>
  <%= link_to "Edit", edit_tasklist_path(@tasklist) %> |
  <%= link_to "Destroy", @tasklist, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", tasklists_path %>
</p>
