<%= error_messages_for :task %>
<% form_for [@project, @task] do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.check_box :completed %>
    <%= f.label :completed %>
  </p>
  <p>
    <%= f.label :due_to %><br />
    <%= f.date_select :due_to, :prompt => true %>
  </p>
  <p>
    <%= f.label :scheduled_to %><br />
    <%= f.date_select :scheduled_to, :prompt => true %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
