<%- project ||= task.project -%>
<%- tags ||= task.tags_from(task.project.user) -%>

<% content_tag_for :li, task, :class => css_class_for_task(task) do %>
  <span class="handle-horizontal">&nbsp;</span>
  <span class="handle-vertical">&nbsp;</span>
  <%= check_box_tag('completed[]', task.id, task.completed?, :id => nil, :disabled => task.project.archived?,
    :onclick => remote_function(:url => toggle_project_task_path(project, task))) %>
  &nbsp;
  <%# button_to (task.completed?) ? "Open again" : "Complete", toggle_project_task_path(project, task) %>
  <% if task.completed? %>
    <del><%=h task.name %></del>
  <% else %>
    <strong><%=h task.name %></strong>
  <% end %>

  <% if !task.completed? %>
  <span class="actions">
    &nbsp; &nbsp;
    <%= link_to "Edit", edit_project_task_path(project, task) %> |
    <%= link_to "Delete", project_task_path(project, task), :confirm => "Are you sure to delete task #{h(task.name)}?", :method => 'delete' %>
  </span>
  <% end %>



  <% if task.today? %>
  <span class="mark today">today</span>
  <% end %>

  <% unless task.completed? or task.due_to.nil? %>
  <span class="mark <%= task.due_to > Time.zone.now.to_date ? 'due-in' : 'overdue' %>">
    <%= task.due_to > Time.zone.now.to_date ? 'due in' : 'overdue' %> <%= time_ago_in_words task.due_to %>
  </span>
  <% end %>

  <% unless tags.empty? %>
  <span class="tags"><%=h tags %></span>
  <% end %>

  <%- unless task.project.archived? -%>
  <%= draggable_element(dom_id(task), {:revert => true, :handle => "'handle'"}) %>
  <%- end -%>
<% end %>
