<%- tags ||= task.tags_from(task.user) -%>

<% content_tag_for :li, task, :class => css_class_for_task(task) do %>
  <span class="handle-horizontal">&nbsp;</span>
  <span class="handle-vertical">&nbsp;</span>
  <%= check_box_tag('completed[]', task.id, task.completed?, :id => nil,
    :onclick => remote_function(:url => toggle_task_path(task))) %>
  &nbsp;
  <%# button_to (task.completed?) ? "Open again" : "Complete", toggle_task_path(task) %>
  <% if task.completed? %>
    <del><%=h task.name %></del>
  <% else %>
    <strong><%=h task.name %></strong>
  <% end %>

  <% if !task.completed? %>
  <span class="actions">
    &nbsp; &nbsp;
    <% if task.delegated? %><span class="delegated" title="delegated task">&nbsp;</span><% end %>
    <%= link_to "Edit", edit_task_path(task) %>
    <%#= link_to "Delete", task_path(task), :confirm => "Are you sure to delete task #{h(task.name)}?", :method => 'delete' %>
  </span>
  <% end %>



  <% if task.today? %>
  <span class="mark today">today</span>
  <% end %>

  <% unless task.completed? or task.due_to.nil? %>
  <span class="mark <%= task.due_to > Time.zone.now.to_date ? 'due-in' : 'overdue' %>">
    <%= task.due_to > Time.zone.now.to_date ? 'due in' : 'overdue' %> <%= time_ago_in_words task.due_to %>
  </span>
  <% end %>

  <% unless tags.empty? %>
  <span class="tags"><%=h tags %></span>
  <% end %>

  <%= draggable_element(dom_id(task), {:revert => true, :handle => "'handle-vertical'"}) %>
<% end %>
