<h2>
  <%= link_to h(project.name), project_path(project) %>
  <span class="actions">
  &nbsp; &nbsp;
  <%= link_to "Edit", edit_project_path(project) %> |
  <%= link_to_unless project.archived?, "Archive", archive_project_path(project) do
    link_to "Restore", restore_project_path(project)
  end -%> |
  <%= link_to "iCal", project_path(project, :format => :ics) %> |
  <%= link_to "Delete", project_path(project), :confirm => "Are you sure to delete project #{h(project.name)}?", :method => 'delete' %>
  </span>
  <span class="tags">
    <%= project.tags_from(project.user) %>
  </span>
</h2>

<%- unless project.tasks.empty? -%>
  <ul class="tasklist">
    <%= render :partial => "tasks/task", :collection => project.tasks %>
  </ul>
  <p><%= link_to "Add new task", new_task_path %></p>
<%- else -%>
  <p>This project has no tasks. <%= link_to "Add one", new_task_path %>!</p>
<%- end -%>
<hr />

<noscript><br /><%= submit_tag "Complete checked tasks" %></noscript>