<%- tags ||= project.tags_from(project.user) -%>

<% content_tag_for :div, project do %>
  <h2>
    <%= link_to h(project.name), project_path(project) %>

    <span class="actions">
    &nbsp; &nbsp;
    <%= link_to "Edit", edit_project_path(project), :class => "edit" %> |
    <%= link_to_unless project.archived?, "Archive", archivate_project_path(project), :class => "archive" do
        link_to "Activate", activate_project_path(project), :class => "activate"
    end -%> |
    <%= link_to "iCal", project_path(project, :format => :ics), :class => "ical" %> |
    <%= link_to "Delete", project_path(project), :confirm => "Are you sure to delete project #{h(project.name)}?", :method => 'delete', :class => "delete" %>
    </span>

    <% unless tags.empty? %>
    <span class="tags"><%=h tags %></span>
    <% end %>
  </h2>

  <%- unless project.archived? -%>
  <p class="fright add-task"><%= link_to "Add new task", new_project_task_path(project), :class => "add" %></p>
  <%- end -%>

  <p class="description">
  <% unless project.description.nil? or project.description.empty? %>
    <%=h project.description %>
  <% else %>
    &nbsp;
  <% end %>
  </p>

  <%- unless project.archived? -%>
  <%#= drop_receiving_element(dom_id(project),
    :accept => "task",
    :hoverclass => "hover",
    #:with => "'draggable_element=' + (element.id)",
    #:url => accept_project_path(project)
    #:confirm => "Are you sure you want to do this?",
    :onDrop => "function(draggable, droppable){
        draggable.parentNode.removeChild(draggable);
        droppable.down('ul').appendChild(draggable);
        new Ajax.Request('#{accept_project_path(project)}', {asynchronous:true, evalScripts:true, parameters:'draggable_element=' + (draggable.id)});
    }" # kdyby selhávaly požadavky, tak je třeba přenášet i param authenticity_token
  ) %>
  <%- end -%>

  <%- unless project.tasks.empty? -%>
  <ul id="tasks" class="tasklist">
    <%= render :partial => "tasks/task", :collection => project.tasks, :locals => { :project => project } %>
  </ul>
  <%= sortable_element("tasks", :url => sort_project_tasks_path(@project), :complete => visual_effect(:highlight, "tasks"), :handle => "handle-vertical") %>
  <%- end -%>

  <noscript><%= submit_tag "Complete checked tasks" %></noscript>
<% end %>

<hr />