<tr>
  <td><%= link_to h(project.name), project_path(project.id) %></td>
  <td><%= link_to "Edit", edit_project_path(project.id) %></td>
  <td>
    <%= link_to_unless project.archived?, "Archive", archive_project_path(project.id) do
      link_to "Restore", restore_project_path(project.id)
    end -%>
  </td>
  <td><%= link_to "iCal", project_path(project.id, :format => :ics) %></td>
  <td><%= link_to "Destroy", project_path(project.id), :confirm => 'Are you sure?', :method => :delete %></td>
</tr>