<% title "Projects" %>

<% form_tag projects_path, :id => "search_form", :method => :get, :class => "aright" do %>
  <p>
    <%= text_field_tag :search, params[:search], :size => 50 %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<%- if @projects.empty? -%>
  No active projects.
<%- else -%>
  <%= render :partial => "project", :collection => @projects %>
<%- end -%>

<p><%= link_to "New Project", new_project_path, :class => "add" %></p>


<%- unless @archived_projects.empty? -%>
  <hr />
  
  <h2>Archived projects</h2>
  <%= render :partial => "project", :collection => @archived_projects %>
<%- end -%>

