<% title "Projects" %>

<% form_tag projects_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>


<%= render :partial => "project", :collection => @projects %>

<p><%= link_to "New Project", new_project_path %></p>


<%- unless @archived_projects.empty? -%>
  <hr />
  
  <h2>Archived projects</h2>

  <table>
    <tr><th>Name</th></tr>
    <%= render :partial => "project", :collection => @archived_projects %>
  </table>
<%- end -%>