<% title "Projects" %>

<% form_tag projects_path, :method => :get, :class => "fright" do %>
  <p>
    <%= text_field_tag :search, params[:search], :size => 50 %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<%- if @projects.empty? -%>
  No active projects.
<%- else -%>
  <%= render :partial => "project", :collection => @projects %>
<%- end -%>

<p><%= link_to "New Project", new_project_path %></p>


<%- unless @archived_projects.empty? -%>
  <hr />
  
  <h2>Archived projects</h2>

  <table>
    <tr><th>Name</th></tr>
    <%= render :partial => "project", :collection => @archived_projects %>
  </table>
<%- end -%>


<p class="fcenter">
<% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
  <%= link_to tag.name, { :controller => :tags, :action => :index, :search => tag.name }, :class => "tags css2" %>
<% end %>
</p>