<% title "Bugs" %>

<table>
  <tr>
    <th>Name</th>
    <th>Actual Worker</th>
    <th>Approved</th>
    <th>Approved At</th>
    <th>Closed</th>
    <th>Closed At</th>
    <th>Description</th>
    <th>Note</th>
    <th>Proposed Worker</th>
    <th>Reported By</th>
    <th>Task</th>
    <th>Position</th>
  </tr>
  <% for bug in @bugs %>
    <tr>
      <td><%=h bug.name %></td>
      <td><%=h bug.actual_worker_id %></td>
      <td><%=h bug.approved %></td>
      <td><%=h bug.approved_at %></td>
      <td><%=h bug.closed %></td>
      <td><%=h bug.closed_at %></td>
      <td><%=h bug.description %></td>
      <td><%=h bug.note %></td>
      <td><%=h bug.proposed_worker_id %></td>
      <td><%=h bug.reported_by %></td>
      <td><%=h bug.task_id %></td>
      <td><%=h bug.position %></td>
      <td><%= link_to "Show", bug %></td>
      <td><%= link_to "Edit", edit_bug_path(bug) %></td>
      <td><%= link_to "Destroy", bug, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Bug", new_bug_path %></p>
