<div id="user_nav">
  <% if current_user %>
	<%= link_to "Projects", projects_path %> |
	<%= link_to "My Account", account_path %> |
	<%= link_to "Logout", logout_path, :confirm => "Are you sure you want to logout?" %>
  <% else %>
	<%= link_to "Sign up!", new_account_path %> |
	<%= link_to "Log in", login_path %> |
	<%= link_to "Forgot password?", forgot_password_path %>
  <% end %>
  | <%= pluralize User.logged_in.count, "user" %> currently logged in
</div>