<div id="user_nav">
  <% if current_user %>
    <%= link_to "Projects", projects_path %> |
    <%= link_to 'Delegated tasks', delegated_path %> |
    <%= link_to "Bugs", bugs_path %> |
    <%= link_to "Users", users_path %> |
    <%= link_to "My Account", account_path %> |
    <%= link_to "Logout", logout_path, :confirm => "Are you sure you want to logout?" %>
  <% else %>
    <%= link_to "Sign up!", new_account_path %> |
    <%= link_to "Log in", login_path %> |
    <%= link_to "Forgot password?", forgot_password_path %>
  <% end %>
  | <%= pluralize User.logged_in.count, "user" %> currently logged in

  <br />
  <br />
  <br />

  <% form_tag projects_path, :id => "search_form", :method => :get, :class => "aright" do %>
      <%= text_field_tag :search, params[:search], :size => 25 %>
      <%= submit_tag "Search", :name => nil, :id => 'search_form_submit' %>
  <% end %>
</div>