<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= auto_discovery_link_tag(:atom, recent_tasks_path(:format => :atom)) %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag :defaults %>
    <%= yield(:head) %>
  </head>
  <body onload="new Scroll('sidebar',1000)">

  <div id="container">

    <% if current_user %>
      <%= render :partial => "layouts/sidebar" %>
    <% end %>

    <div id="content" class="<%= css_class_for_content %>">
      <%= render :partial => "layouts/navigation" %>
      
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      
      <%- if show_title? -%>
        <h1><%=h yield(:title) %></h1>
      <%- end -%>
      
      <%= yield %>
    </div>

    <div id="indicator" style="display: none"></div>
  </div>
  </body>
</html>
